.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  color: #3f51b5;
  margin: 20px 250px 20px 250px;
  padding: 20px;
  text-transform: uppercase;
  background-color: #b3ecff;
  border: 2px solid #0000cc;
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 500;
}

.Card1 {
  background-color: aquamarine;
  margin: 200px 1500px 200px 100px;
  padding: 200px;
}

.Card2 {
  background-color: aquamarine;
  margin: 200px 1500px 200px 100px;
  padding: 200px;
}

.Card3 {
  background-color: aquamarine;
  margin: 200px 1500px 200px 100px;
  padding: 200px;
}



